<section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, praesentium.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="imgs/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          repudiandae fugiat dolores recusandae ad error nam amet possimus sit
          molestiae.
        </p>
        <a href="#" class="link-arrow"> Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="imgs/easy.webp 1x, imgs/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="imgs/easy.jpg 1x, imgs/easy@2x.jpg 2x"
        />
        <img class="feature__image" src="imgs/easy@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="imgs/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          repudiandae fugiat dolores recusandae ad error nam amet possimus sit
          molestiae.
        </p>
        <a href="#" class="link-arrow"> Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="imgs/fast.webp 1x, imgs/fast@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="imgs/fast.jpg 1x, imgs/fast@2x.jpg 2x"
        />
        <img class="feature__image" src="imgs/fast@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="imgs/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Wordpress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          repudiandae fugiat dolores recusandae ad error nam amet possimus sit
          molestiae.
        </p>
        <a href="#" class="link-arrow"> Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="imgs/wordpress.webp 1x, imgs/wordpress@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="imgs/wordpress.jpg 1x, imgs/wordpress@2x.jpg 2x"
        />
        <img class="feature__image" src="imgs/wordpress.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="imgs/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          repudiandae fugiat dolores recusandae ad error nam amet possimus sit
          molestiae.
        </p>
        <a href="#" class="link-arrow"> Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="imgs/support.webp 1x, imgs/support@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="imgs/support.jpg 1x, imgs/support@2x.jpg 2x"
        />
        <img class="feature__image" src="imgs/support@2x.jpg" alt="" />
      </picture>
    </article>
  </section>