<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud Hosting for Pros</h1>
        <p class="hero__tagline">
          Deploy Your Website in Less Than 60 Seconds.
        </p>
        <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
      </header>
      <picture>
        <source
          type="image/webp"
          srcset="imgs/banner.webp 1x, imgs/banner@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="imgs/banner.png 1x, imgs/banner@2x.png 2x"
        />
        <img class="hero__image" src="imgs/banner.png" alt="" />
      </picture>
    </div>
  </section>